[submodule "presentations/reveal.js"]
	path = presentations/reveal-js/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "posters/typst/typst-posters"]
	path = posters/typst/typst-posters
	url = git@github.com:jonaspleyer/typst-posters
